*{
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-decoration: none;
}
.foot{
	width: 100%;
	height: 362px;
	background-color: #505050;
}
.foot_content{
	margin: 0 auto;
	width: 1000px;
	height: 342px;
	padding-top: 40px;
}
.foot_content li:nth-child(2) img{
	width:122px ;
	height: 46px;
}
.foot_content>ul>li{
	margin-right: 30px;
	float: left;
}
.foot_content ul:after{
	display: block;
	content: "";
	clear: both;
}
.foot_content li:nth-child(2) p{
	margin-top: 24px;
	font-size: 12px;
}
.foot_content h4{
	color: white;
}
.content_middle ul{
	margin-top: 28px;
	margin-right: 14px;
	font-size: 12px;
	float: left;
}
.content_middle:after{
	display: block;
    content: "";
    clear: both;
}
.foot_content li:nth-child(3) p{
	margin-top: 28px;
	font-size: 12px;
}
.foot_content li:nth-child(5) ul{
	margin-top:28px;
	font-size: 12px;
}
.foot_content li:nth-child(6) ul{
	margin-top: 28px;
	font-size: 12px;
}
.foot_bottom{
	margin-top: 78px;
	width: 100%;
	font-size: 12px;
	text-align: center;
}
