*{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.zui{
	border-top: solid 2px gray;
	width: 100%;
	height: 4985px;
	background-color: #f7f7f7;;
}
.zui_1{
	margin: 0 auto;
	width: 1000px;
	height: 4985px;
}
.zui_1_con{
	margin: 0 auto;
	width: 1000px;
	height: 46px;
	line-height: 46px;
}
.zui_1_0{
	
	border-radius: 5px;
	width:702px ;
	height: 4910px;
	float: left;
	background-color: white;
}
.zui_1_1{
	float: right;
	border-radius: 5px;
	width: 266px;
	height: 108px;
	background-color: white;
}
.zui_1:after{
	display: block;
    content: "";
    clear: both;
}
.zui_1_0_1{
	padding-left:16px;
	height: 126px;
	border-bottom: solid 1px gray;
}
.m{
	padding-left: ;
	padding-top: 36px;
	font-size: 30px;
}
.zui_1_0_1 h6{
padding-top: 24px;
color: gray;
display: inline-block;	
}
.zui_1_1>div{
	
	text-align: center;
	display:inline-block;
	width:129px;
	height: 108px;
}
.zui_1_1>div:nth-child(1){
	border-right: solid 1px gray;
}

